.discount{
    font-size: larger;
    background-color: black;
    font-weight: bold;
    color: red;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.discount:hover{
    transform: rotate3d(1,0,1,40deg);
}